.newsletter {
  width: 100%;
  margin: 5rem 0;
}

.newsletter-container {
  margin: 0 auto;
  max-width: 1440px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.newsletter h1 {
  color: #fff;
  font-size: 40px;
  width: 80%;
  font-weight: 600;
}
.newsletter p {
  color: #fff;
  margin: 10px 0;
  width: 40%;
  font-size: 14px;
  font-weight: 400;
}

.input {
  margin: 10px 0;
  width: 60%;
  display: flex;
  align-items: center;
  background: #980320;
  overflow: hidden;
}

.input input {
  width: 100%;
  padding: 15px 20px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px 0 0 5px;
  border-right: none;
  font-weight: 600;
}

.input input::placeholder {
  color: #fff;
  font-weight: 600;
  font-size: 11px;
}

.input button {
  background: #f9a528;
  border: none;
  height: auto;
  width: 22%;
  padding: 17px 0;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  border: 1px solid #f9a528;
  border-radius: 0 5px 5px 0;
}
